<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nilenso Exercise</title>
    </head>
    <body>
        <p>Nilenso Exercise : <span>Exercise Name</span></p>

        <p class="status"></p>

        <p><b>Not done:</b></p>
        <ul class="not-done">
            <li></li>
        </ul>

        <p><b>Done:</b></p>
        <ul class="done">
            <li class="snippet"></li>
        </ul>

        <p class="new-rating-set"><a href="#">New Rating</a></p>

    </body>
</html>
