<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Nilenso Rating Exercises</title>
    </head>
    <body>
        <p>Nilenso Exercises : </p>
        <div>Name of Exercise</div>
        <form action="/exercises/1/ratings" method="post">
            <ul>
                <li><span>A user</span>
                    <input type="text" name="rating[]"></input>
                </li>
            </ul>
            <input type="submit" value="rate"/>
        </form>
    </body>
</html>
